.ListItem {
  color: #333333;
  margin-bottom: 1em;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.SideIcon {
  width: 10%;
  text-align: left;
}

.Dot {
  font-size: 0.8em;
  color: black;
  position: relative;
  left: 5px;
}

.Square {
  width: 25px;
  height: 25px;
  color: white;
  background-color: black;
  text-align: center;
  font-weight: 700;
  font-size: 1em;
  line-height: 25px;
}

.PostcodeBox {
  height: 50px;
  width: 80%;
  padding: 0 10px 0 20px;
  background-color: #eeeeee;
  font-size: 1.3em;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.Delete {
  font-size: 1.3em;
  width: 10%;
  text-align: right;
}

.EditIcon {
  padding-right: 5vw;
  color: #777777;
}

.EditIcon:hover {
  color: #333333;
}

.EditInput {
  height: 50px;
  width: 50%;
  max-width: 150px;
  border: none;
  background: none;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

.SelectDropdown {
  width: 40px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 5px;
  background-color: #777777;
  font-size: 0.8em;
  font-weight: inherit;
  padding-left: 5px;
}

.SelectDropdown:hover {
  background-color: #333333;
}