.Container {
  margin: auto;
  width: 80vw;
  padding-top: 1em;
}

.SubHeading {
  color: #005f68;
  margin: 0;
}

.Results {
  font-size: 1.3em;
  font-weight: 500;
}

.Icon {
  font-size: 4em;
  margin-top: .5em;
}

.Triangle {
  font-size: 4em;
  color: #005f68;
  margin: 5vh 0;
}